.form-container {
   
   
   
   
}

.contain {
    box-shadow: 1px 5px 5px rgb(180, 176, 176); 
   
    
}

.input-container {
    font-size: 1.2rem;
    

}

.btn-form-user {
    font-size: 1.2rem;
    background-color: #DD1A1A;
    color: white;
    
    
}